$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Disable navbar collapse
$grid-float-breakpoint:     0 !default;